In [1]:
import numpy as np
import pandas as pd

In [9]:
# Creating a Dataframe from a dictionary
data = { 'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [11]:
purchases = pd.DataFrame(data, index = ['July', 'Lily', 'Max', 'Philip'])
purchases

        apples  oranges
July         3        0
Lily         2        3
Max          0        7
Philip       1        2

In [14]:
purchases.loc['Lily']

apples     2
oranges    3
Name: Lily, dtype: int64

In [18]:
#Saving the DataFrame in the current directory
purchases.to_csv('purchases.csv')